.lessons {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.lesson {
    position: relative;
    width: 255px;
    height: 347px;
    background-color: #88B4D1;
    border-radius: 20px;
}

.head_name {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #134769;
    border-radius: 20px 20px 0 0;
}

.head_name p {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.555);
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.name {
    display: flex;
    justify-content: center;
    height: 180px;
    width: auto;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.name b {
    color: #000000;
    position: relative;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: fit-content;
    width: 100%;
}

.lesson_button {
    position: relative;
}